mdc-drawer-temporary {
  a {
    text-decoration: none;
  }
}

.container-persistent-main {
  // padding: 16px 16px 0 16px;
}

#navigation-drawer {
  display: grid;
  grid-template-rows: 1fr auto;

  #drawer-spacer {
    height: 100%;
  }

  #drawer-list {
    z-index: 16;
  }
}
